name = "ConstrainedDFO"
uuid = "12b7d493-2132-44b7-a248-b28c3eff80ff"
authors = ["Sacha Benarroch-Lelong"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
